<li class="nav-item dropdown dropdown-large">
    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
        <div class="projects">
            <i class="bi bi-grid-3x3-gap-fill"></i>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end">
        <div class="row row-cols-3 gx-2">
            <div class="col">
                <a href="/admin/clinics">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-purple">
                            <i class="bi bi-building"></i>
                        </div>
                        <p class="mb-0 apps-name">Klinikler</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/admin/services">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-info">
                            <i class="bi bi-briefcase"></i>
                        </div>
                        <p class="mb-0 apps-name">Hizmetler</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/admin/appointments">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-success">
                            <i class="bi bi-calendar-check"></i>
                        </div>
                        <p class="mb-0 apps-name">Randevular</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/admin/reviews">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-warning">
                            <i class="bi bi-chat-square-quote"></i>
                        </div>
                        <p class="mb-0 apps-name">Yorumlar</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/admin/pets">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-danger">
                            <i class="bi bi-heart"></i>
                        </div>
                        <p class="mb-0 apps-name">Evcil</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/admin/vaccinations">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-primary">
                            <i class="bi bi-shield-plus"></i>
                        </div>
                        <p class="mb-0 apps-name">Aşı Kartı</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</li>
