<li class="nav-item dropdown dropdown-large">
    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
        <div class="projects">
            <i class="bi bi-grid-3x3-gap-fill"></i>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end">
        <div class="row row-cols-2 gx-2">
            <div class="col">
                <a href="/clinic-admin/appointments">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-success">
                            <i class="bi bi-calendar-check"></i>
                        </div>
                        <p class="mb-0 apps-name">Randevular</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/clinic-admin/vaccinations">
                    <div class="apps p-2 radius-10 text-center">
                        <div class="apps-icon-box mb-1 text-white bg-gradient-primary">
                            <i class="bi bi-shield-plus"></i>
                        </div>
                        <p class="mb-0 apps-name">Aşı Kartı</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</li>
