<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/snacked/ltr/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">VetRandevu</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class="bi bi-list"></i>
        </div>
    </div>
    <ul class="metismenu" id="menu">
        <li>
            <a href="/clinic-admin/appointments">
                <div class="parent-icon"><i class="bi bi-calendar-check"></i></div>
                <div class="menu-title">Randevular</div>
            </a>
        </li>
        <li>
            <a href="/clinic-admin/clinics">
                <div class="parent-icon"><i class="bi bi-building"></i></div>
                <div class="menu-title">Kliniğim</div>
            </a>
        </li>
        <li>
            <a href="/clinic-admin/appointments/agenda">
                <div class="parent-icon"><i class="bi bi-calendar2-week"></i></div>
                <div class="menu-title">Günlük Ajanda</div>
            </a>
        </li>
        <li>
            <a href="/clinic-admin/pets">
                <div class="parent-icon"><i class="bi bi-heart-pulse"></i></div>
                <div class="menu-title">Pet Kartları</div>
            </a>
        </li>
        <li>
            <a href="/clinic-admin/services">
                <div class="parent-icon"><i class="bi bi-briefcase"></i></div>
                <div class="menu-title">Hizmetler</div>
            </a>
        </li>
        <li>
            <a href="/clinic-admin/vaccinations">
                <div class="parent-icon"><i class="bi bi-shield-plus"></i></div>
                <div class="menu-title">Aşı Kartı</div>
            </a>
        </li>
        <li>
            <a href="/account/logout">
                <div class="parent-icon"><i class="bi bi-box-arrow-right"></i></div>
                <div class="menu-title">Çıkış</div>
            </a>
        </li>
    </ul>
</aside>
